{% extends "bootstrap/base.html" %}
{% block title %}List sorter - Listen{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/jumbotron-narrow.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/mystuff.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/jasny-bootstrap.min.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
{{super()}}
    </div> <!-- container -->
{% endblock %}


{% block navbar %}
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('mainpage') }}">List sorter</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('mainpage') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://de.dariah.eu">DARIAH-DE</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h1>Listen Überblick</h1>
        <p class="lead">Klicke auf einen Eintrag, um ihn zu bearbeiten oder prüfe eine neue Mail-Adresse.</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="email" class="form-control" id="InputEmail" placeholder="jane.doe@example.com">
          </div>
          <button type="button" class="btn btn-default btn-sm" id="InputBtn" data-toggle="modal" data-target="#pruefModal">
            Prüfen
          </button>
        </form>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Whitelist <span class="badge" id="whitenumber"></span></h2>
          <div class="list-group" id="whitelist">
          </div>
        </div>
        <div class="col-md-4">
          <h2>Graylist <span class="badge" id="graynumber"></span>
            <button type="button" class="btn btn-default pull-right" id="InputBtn" data-toggle="modal" data-target="#refreshmailsModal"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
          </h2>
          <div class="list-group" id="graylist">
          </div>          
        </div>
        <div class="col-md-4">
          <h2>Backlist <span class="badge" id="blacknumber"></span></h2>
          <div class="list-group" id="blacklist">
          </div>
        </div>
      </div>

<!-- Modal mailuploadModal -->
<div class="modal fade" id="mailupload" tabindex="-1" role="dialog" aria-labelledby="mailuploadTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('mainpage') }}" method="post" enctype="multipart/form-data">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mailuploadTitle">Upload Mails</h4>
        </div>
        <div class="modal-body" id="mailuploadModalText">
          <div class="fileinput fileinput-new input-group" data-provides="fileinput">
            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="mailfile"></span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="mailuploadBtn">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal pruefModal -->
<div class="modal fade" id="pruefModal" tabindex="-1" role="dialog" aria-labelledby="pruefModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pruefModalTitle">Ergebnis</h4>
      </div>
      <div class="modal-body" id="pruefModalText">
        <div id="pruefModalAlert" role="alert">
          ...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="pruefModalDecideBtn" disabled="true" data-dismiss="modal" data-toggle="modal" data-target="#decideModal">Decide</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal decideModal -->
<div class="modal fade" id="decideModal" tabindex="-1" role="dialog" aria-labelledby="decideModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="decideModalTitle">Erst Checken, dann einordnen!</h4>
      </div>
      <div class="modal-body" id="pruefModalText">
        <div id="decideModalAlert" role="alert">

        <p class="lead">Erst Checken, dann einordnen!</p>
        <p class="lead"><a id="manualcheckbutton" href="" role="button" class="btn btn-lg btn-primary btnCheck" target="_blank">Check</a></p>
        {% if edugaincheck -%}
        <div id="checkEduresultAlert" role="alert" class="alert">
          Teste eduGain ...
          <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        </div>
        {%- endif %}
        </div>
      </div>
      <div class="modal-footer">

        <div class="row">
          <div class="col-md-4">
            <div class="text-center">
              <form method="post" role="form">
                <input type="hidden" name="list" value="white">
                <input type="hidden" name="domain" value="" class="domainname">
                <button type="submit" class="btn btn-lg btn-success" id="btnWhiteList" disabled="true">Whitelist</button>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <form method="post" role="form">
                <input type="hidden" name="list" value="gray">
                <input type="hidden" name="domain" value="" class="domainname">
                <button type="submit" class="btn btn-lg btn-default" id="btnGrayList" disabled="true">Graylist</button>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <form method="post" role="form">
                <input type="hidden" name="list" value="black">
                <input type="hidden" name="domain" value="" class="domainname">
                <button type="submit" class="btn btn-lg btn-danger" id="btnBlackList" disabled="true">Blacklist</button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal refreshmailsModal -->
<div class="modal fade" id="refreshmailsModal" tabindex="-1" role="dialog" aria-labelledby="refreshmailsModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="refreshmailsModalTitle">Graylist refreshen</h4>
      </div>
      <div class="modal-body" id="refreshmailsModalText">
        <div id="refreshmailsModalAlert" role="alert">
        </div>
      </div>
      <div class="modal-footer">
        <form id="refreshmailsModalForm" action="">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
    <script src="{{ url_for('static', filename='js/mystuff.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js')}}"></script>
{% endblock %}

